<% content_for :name, @wine.name %>
<article class="wine">
	<header>
		<h2><%= @wine.name %></h2>
	</header>
	<p><label>Year:</label> <%= @wine.year %></p>
	<p><label>Country:</label> <%= @wine.country %></p>
	<p><label>Winery:</label> <%= @wine.winery %></p>
	<p><label>Varietal:</label> <%= @wine.varietal %></p>
</article>
<table>
	<tr>
		<td>
			<%= link_to 'Edit', edit_wine_path(@wine) %>
		</td>
		<td style="padding-left: 5px;">
			|
		</td>
		<td style="padding-left: 10px;">
			<%= button_to "Delete '#{@wine.name}'", 
				@wine, method: :delete, data: {confirm: 'Are you sure?'} %>
		</td>
	</tr>
</table></br>
<p>
  Read all
  <%= link_to pluralize(@wine.logentries.size, 'Log Entry'), 
                        wine_logentries_path(@wine) %>
</p>